
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contenedor {
    height: 60vh;
    width: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.columna {
    display: flex;
    background-color: aliceblue;
    flex: auto;
}
.fila {
    border: 1px solid darkgrey;
    flex: auto;

}

.hover {
    background-color: grey;
}