
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

#contenedor {
    width: 60vh;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.columna {
    display: flex;
    background-color: aliceblue;
    flex: auto;
}
.fila {
    display: flex;
    border: 1px solid darkgrey;
    flex: auto;
    
    
}

.hover {
    background-color: grey;
}